In [2]:
from datetime import datetime, date, time, timedelta

In [2]:
# Using datetime.date

today = date.today()
new_year = date(2024, 1, 1)

new_year.isoformat() # Returns a date string in ISO 8601 format, YYYY-MM-DD.

print(type(today))
print(today, ',', new_year)

<class 'datetime.date'>
2024-08-16 , 2024-01-01

In [3]:
# Using datetime.time

morning = time(10, 1, 10)

print(type(morning))
print(morning)

<class 'datetime.time'>
10:01:10

In [4]:
# Using datetime.datetime

now = datetime.now()
mom_bday = datetime(1968, 1, 18)
yr = mom_bday.year
month = mom_bday.month
day = mom_bday.day

print(type(now))
print(mom_bday, ',', now)
print(yr, month, day)

<class 'datetime.datetime'>
1968-01-18 00:00:00 , 2024-08-16 22:14:55.627699
1968 1 18

In [11]:
# Using timedelta to compute differences between times

now = datetime.now()
then = datetime(1991, 10, 10)
difference = now - then

print(type(difference))
print(difference.days)

<class 'datetime.timedelta'>
11999

In [6]:
# Using timedelta to compute differences between times (2)

diff_day = difference.days
diff_second = difference.seconds

print(diff_day, ',', diff_second)

leah_bday = date(1988, 1, 13)
time_passed = timedelta(days = 10000)
what_day = leah_bday + time_passed

print(what_day)

11999 , 80095
2015-05-31

In [7]:
# Putting dates into isoformat strings

today = date.today()
later = date.today() + timedelta(days = 20000)

print(later.isoformat())

2079-05-20

In [13]:
# Iterating over dates

future = date(2070, 1, 1)
further_future = date(2070, 1, 10)
day_delta = timedelta(days=1)

for i in range((further_future - future).days + 1):
    print(day_delta * i + future)

2070-01-01
2070-01-02
2070-01-03
2070-01-04
2070-01-05
2070-01-06
2070-01-07
2070-01-08
2070-01-09
2070-01-10

In [14]:
# UTC (Universal Time Coordinated)

utc_now = datetime.utcnow()
now = datetime.today()

print(f'{utc_now}\n{now}')

2024-08-17 02:20:20.139333
2024-08-16 22:20:20.139333

In [15]:
# datetime.strptime to convert string to datetime object

today_date = '08/04/2024'
date_obj = datetime.strptime(today_date, '%m/%d/%Y')

print(date_obj)

2024-08-04 00:00:00

In [16]:
# datetime.strftime to convert datetime, date, or time object to string

now = datetime.now()
year = now.strftime('%Y')
month = now.strftime('%m')
day = now.strftime('%d')
date = now.strftime('%Y-%m-%d')
time = now.strftime('%H:%M:%S')

print(f'year: {year}, month = {month}, day = {day}, time = {time}')

year: 2024, month = 08, day = 16, time = 22:20:46

In [19]:
# ISO format

date = date(2009, 9, 1)

print(date.isoformat())

2009-09-01

In [20]:
# Use timedelta.total_seconds()

days = timedelta(days=50)
seconds = days.total_seconds()

print(f'data type of days is {type(days)} and the value is {days}.\ndata type of seconds is {type(seconds)} and the value is {seconds}.')

data type of days is <class 'datetime.timedelta'> and the value is 50 days, 0:00:00.
data type of seconds is <class 'float'> and the value is 4320000.0.

In [21]:
# date.today() vs. datetime.today()

today = date.today()
now = datetime.today()

print(today, now)

2024-08-16 2024-08-16 22:21:45.993117

In [24]:
# datetime.combine(date, time) takes a date object and a time object and return a datetime object

birthday = date(1991, 10, 10)
time = time(10, 10, 10)

print(birthday, time)

birthday_time = datetime.combine(birthday, time)

print(birthday_time)

1991-10-10 10:10:10
1991-10-10 10:10:10

In [25]:
# timestamp takes a datetime, and only datetime object and returns a UNIX timestamp,
# which is the number of seconds passed since January 1, 1970

bday = datetime(1991,10,10)
bday_timestamp = datetime.timestamp(bday)

print(bday_timestamp)

687067200.0

In [3]:
# Using datetime.replace() and date.replace()

dtime = datetime.today()
dte = date.today()

new_dtime = dtime.replace(year = 1991)
new_dte = dte.replace(month = 10)

print(new_dtime, new_dte)

1991-08-17 20:46:11.935368 2024-10-17

In [4]:
# Using date.weekday() to get the weekday as an integer; Monday = 0, Tuesday = 1, etc.

dtime = datetime.today()
dte = date.today()

print(dtime.weekday())
print(dte.weekday())

5
5